*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

main{
    background-color: brown;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

#inicio{
    display: none;
}

#tabuleiro{
    background-color: grey;
    display: flex;
    flex-direction:row;
    align-items: center;

}

#tabela{
    background-color: black;
    width:fit-content;
    height: fit-content;
}

.espaco{
    background-color:aqua;
    background-image: none;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 50px;
    color: transparent;
}

.espaco:hover{
    background-color: aliceblue;
}