*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family:monospace;
    font-weight: bolder;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.tela{
    width: 100vw;
    height: 100vh;
    background-color: rgb(25, 42, 50);
    flex-direction: column;
}

#telaInicial{
    display: block ;
}

#telaTabuleiro{
    display: none;
}

#telaVitoria{
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.janela{
    width: 350px;
    background-color: rgb(31, 53, 64);
    box-shadow: 0px 5px rgb(16, 33, 41);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.opcao{
    height: 50px;
    font-size: large;
    cursor: pointer;
}

#selecao{
    height: 150px;
    color: white;
    background-color: rgb(31, 53, 64);
    box-shadow: 0px 5px rgb(16, 33, 41);
    flex-direction: column;
    justify-content: space-evenly;
}

.caixinha{
    height: 50px;
    width: 250px;
    border-radius: 10px;
}
#XouO{
    background-color: rgb(25, 42, 50);
}

.simbolo{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.simbolo > img{
    height: 20px;
    width: 20px;
}

#X{
    background-color: rgb(128, 150, 161);
}

#O{
    background-color: rgb(25, 42, 50);
}

#vsCPU{
    background-color: rgb(242, 178, 55);
}

#vsCPU:hover{
    background-color: rgb(255, 208, 95);
}

#vsP2{
    background-color: rgb(49, 196, 190);
}

#vsP2:hover{
    background-color: rgb(79, 226, 220);
}

.exibicao{
    font-size: larger;
    color: aqua;
    justify-content:space-between;
}

#XO{
    height: 40px;
    width: fit-content;
}

#XO > img{
    height: 30px;
    width: 30px;
}

#turno{
    background-color: rgb(31, 53, 64);
    box-shadow: 0px 5px rgb(16, 33, 41);
    height: 40px;
    width: 90px;
    border-radius: 10px;
    justify-content:space-evenly;
    color: rgb(168, 190, 201);
}

#turno > img{
    height: 20px;
    width: 20px;
}

#volta{
    background-color: rgb(168, 190, 201);
    box-shadow: 0px 5px rgb(138, 160, 181);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
}

#volta:hover{
    background-color: rgb(208, 220, 241);
}

#volta > img{
    height: 20px;
    width: 20px;
}

#tabela{
    width:fit-content;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: separate;
    border-spacing: 0px 10px
}
#tabuleiro{
    flex-wrap: nowrap;
    flex-direction: column;
    width:320px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#meio{
    margin-top: 10px;
    margin-bottom: 10px;
}

.linha{
    flex-wrap: nowrap;
    justify-content:space-between;
}

.espaco{
    background-color: rgb(31, 53, 64);
    box-shadow: 0px 5px rgb(16, 33, 41);
    background-image: none;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 50px;
    color: transparent;
    cursor: pointer;
}

.espaco:hover{
    background-color: rgb(168, 190, 201);
}

.espaco > img{
    width: 60px;
    height: 60px;
}

.placar{
    flex-direction: column;
    text-align: center;
    color: black;
    height: 60px;
    width: 90px;
    border-radius: 10px;
}

#placar1p{
    background-color: rgb(49, 196, 190);
}

#placarEmpates{
    background-color: rgb(168, 190, 201);
}

#placar2p{
    background-color: rgb(242, 178, 55);
}

.jogador{
    font-weight:100;
    font-size: 15px;
}

.numero{
    font-size: 25px;
    font-family:cursive;
}

#faixa{
    background-color: rgb(31, 53, 64);
    width: 100vw;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
}

#msgVitoria1{
    color: white;
    font-size: 20px;
}

#msgVitoria2{
    color: rgb(49, 196, 190);
    font-size: 30px;
}

#msgVitoria2 > IMG{
    width: 50px;
    height: 50px;
}

#ganhouMsg{
    margin-left: 15px;
    padding-top: 5px;
}

.vitoriaBotao{
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 5px 0px 5px; 
}

#sair{
    background-color: rgb(168, 190, 201);
    box-shadow: 0px 5px rgb(148, 170, 181);  
}

#sair:hover{
    background-color: rgb(198, 220, 231);
}

#outra{
    background-color: rgb(242, 178, 55);
    box-shadow: 0px 5px rgb(222, 158, 35);
}

#outra:hover{
    background-color: rgb(255, 208, 85);
}

/*------------------------*/



/*
main{
    background-color: brown;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

*/